@using BlogSystem.Web.Models.Categories
@model CategoryViewModel

@{
    ViewBag.Title = "Index";
}

@Styles.Render("~/Content/css/font-awesome")
@Styles.Render("~/Content/css/adminPanel")

<div class="admin-wrapper">
    <h1 class="category-title">Posts</h1>
    <div class="panel panel-default admin-panel">
        <div class="panel-body">
            <div class="panel-title">
                Delete post
            </div>
            <a href="@Url.Action("DeletePost", "Admin", new { area = "Admin"})">
                <i class="fa fa-trash-o fa-5x" aria_idden="true"></i>
            </a>
        </div>
    </div>
    <div class="panel panel-default admin-panel">
        <div class="panel-body">
            <div class="panel-title">
                Restore post
            </div>
            <a href="@Url.Action("RestorePost", "Admin", new { area = "Admin"})">
                <i class="fa fa-undo fa-5x" aria_idden="true"></i>
            </a>
        </div>
    </div>
    <div class="panel panel-default admin-panel">
        <div class="panel-body">
            <div class="panel-title">
                Update post
            </div>
            <a href="@Url.Action("UpdatePost", "Admin", new { area = "Admin"})">
                <i class="fa fa-edit fa-5x" aria_idden="true"></i>
            </a>
        </div>
    </div>
</div>

<div class="admin-wrapper">
    <h1 class="category-title">Categories</h1>
    <div class="panel panel-default admin-panel">
        <div class="panel-body">
            <div class="panel-title">
                Add category
            </div>
            <a href="" data-toggle="modal" data-target="#myModal">
                <i class="fa fa-list fa-5x" aria_idden="true"></i>
            </a>
        </div>
    </div>
</div>


<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add new category</h4>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("AddCategory", "Admin", new { area = "Admin" }, FormMethod.Post))
                {
                    @Html.LabelFor(m => m.Name, new { @class = "control-label" })
                    <br />
                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                        <br />
                        <input type="submit" value="AddCategory" />
                }
            </div>
        </div>

    </div>
</div>
