
@using BlogSystem.Web.Models.Posts
@model PostsCollectionViewModel

@{
    ViewBag.Title = "UpdatePost";
}

@Styles.Render("~/Content/css/showPosts")

<div id="post" class="row">
    @foreach (var post in Model.Posts)
    {
        <div class="col-xs-12 col-sm-8 col-md-4 col-lg-4 ">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h2>@post.Title</h2>
                    <p>@post.AuthorEmail - @post.PostedOn</p>
                    <a href='@Url.Action("EditPost", "Admin", new { id = post.Id})' class="button-post">
                        Edit post
                    </a>
                </div>
            </div>
        </div>
    }
</div>