@using BlogSystem.Web.Models.Posts
@model CreatePostViewModel

@{
    ViewBag.Title = "AddPost";
}

@Styles.Render("~/Content/css/addPost")

<div class="container">
    <div class="login-box animated fadeInUp">

        @using (Html.BeginForm("AddPost", "User", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="box-header">
                <h2>Create post</h2>
            </div>
            @Html.LabelFor(m => m.Title, new { @class = "control-label" })
            <br />
            @Html.TextBoxFor(m => m.Title, new { @class = "form-control", id = "inputField" })
            <br />
            @Html.LabelFor(m => m.Content, new { @class = "control-label" })
            <br />
            @Html.TextAreaFor(m => m.Content, new { @class = "form-control", id = "inputField" })
            <br />
            <button type="submit">Create post</button>

        }
    </div>

</div>
