@model BlogSystem.Web.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

@Styles.Render("~/Content/css/login")

<div class="container">
    <div class="login-box animated fadeInUp">
        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="box-header">
                <h2>Register</h2>
            </div>
            @Html.LabelFor(m => m.Email, new { @class = "control-label"})
            <br />
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", id = "username" })
            @Html.LabelFor(m => m.Password, new { @class = "control-label" })
            <br />
            @Html.PasswordFor(m => m.Password, new { @class = "form-control", id = "password" })
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
            <br />
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", id = "password"})
            <br />
                <button type="submit">Register</button>
        }

    </div>

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
